@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@keyframes spin {
  0% { 
    visibility: visible;
    opacity: 1;
    transform: rotate(0deg);  
  }
  80%{
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg); 
    display: none;
    
  }
}

@keyframes disparition {
  to {
    width:0;
    height:0;
    overflow:hidden;
}
}

@keyframes transition {
  0%   { opacity:0; margin-top: 30px ; }
  100% { opacity:1; margin-top: 0;}
  }
  
//* Index *//

body {
  margin: 0;
  font-family: 'Roboto';
  margin: auto;
  width: 500px;
}

a {
  text-decoration: none;
}

.Header {
  text-align: center;
  padding: 3% 0% 1% 0%;
  width: 100%;
  border-bottom: 3px solid #cfcfcf;
  &__Logo {
    display: none;
    &--img {
      width: 45%;
    }
  }
}

.loader {
  visibility: none;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356DC;
  border-bottom: 16px solid #FF79DA;
  border-left: 16px solid #99E2D0;
  border-right: 16px solid #99E2D0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 3s linear infinite ;
  position: relative;
  left: 35%;
  top: 15%;
  &__box {
    z-index: 1;
    position: absolute;
    width: 800px;
    height: 2400px;
    background-color: #dadada;
    opacity: 0.9;
    animation: disparition 0s ease-in 3s forwards;
  }
}

.Localisation {
  display: flex;
  align-items: center;
  background-color: #eae8e8;
  padding-left: 30%;
  &__Text {
    padding-left: 5%;
  }
}

.Reservation {
  text-align: center;
  background-color: #f2f2f2;
  padding: 1% 0% 10% 0%;
  &__Tittle {
    font-weight: bold;
  }
  &__Text {
    width: 74%;
    padding-left: 12%;
  }
  &__Btn {
    padding: 3%;
    border: 1px solid #cd90bc;
    border-radius: 25px;
    box-shadow: 0 0 15px #0000002e;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC );
    transform: scale(1);
    transition: transform 400ms;
    display: inline-block;
    &:hover {
      cursor: pointer;
      transform: scale(1.15);
      border: 1px solid #f0bae1;
      box-shadow: 0 0 20px #0000002e;
    }
  }
}

.Signature {
  &__Box {
    padding-bottom: 5%;
    &--Title {
      padding-left: 5%;
      margin-bottom: 0;
    }
    &--Number {
      position: absolute;
      border: 1px solid #9356DC;
      background-color: #9356DC;
      padding: 1%;
      border-radius: 25px;
      width: 5%;
      left: -3%;
      color: white;
    }
  }
  &__Order {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--Step {
      display: flex;
      margin-top: 5%;
      text-align: center;
      align-items: center;
      height: 75px;
      width: 85%;
      border: 1px solid #e9e9e9;
      background-color: #f1f1f1;
      border-radius: 25px;
      box-shadow: 0 0 13px #0000002e;
      color: black;
      position: relative;     
    }
    :hover {
      background-color: #f5edff;
      cursor: pointer;
      i {
        color: #8b48dd ;
      }
    }
    &--icon {
      padding-left: 12%;
    }
  }
  &__Text {
    padding-left: 8%;
    font-weight: bold;
  }
}

.Result {
  background-color: #f7f7f7;
  &__Box {
    &--Title {
      padding-left: 5%;
      padding-top: 10%;
    }
  }
  &__Card {
    display: flex;
    align-items: center;
    flex-direction: column;
    &--Link{
      background-color: white;
      width: 90%;
      border-radius: 25px;
      margin-bottom: 6%;
      box-shadow: 0 0 8px #0000002e;
      position: relative;
    }
    &--img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 25px 25px 0px 0px;
    }
    &--New {
      position: absolute;
      top: 0;
      right: 15px;
      margin-top: 4%;
      color: #1d8e72;
      font-weight: bold;
      border-radius: 3px;
      background-color: #99E2D0;
      padding: 2% 4% 2% 4%;
    }
    &--Footer {
      display: flex;
      margin-bottom: 3%;
    }
    &--Title {
      padding-left: 10%;
      width: 100%;
      margin-bottom: 2%;
      color: black;
    }
    &--Text {
      padding-left: 10%;
      width: 100%;
      color: black;
    }
  }
  &__Btn {
    position: absolute;
    right: 50px;
    color: #414141;
    padding-top: 5%;
    &:hover {
      cursor: pointer;
      .Result__Btn--FullLike {
        opacity: 1;
        background: -moz-linear-gradient(to top right, #FF79DA 0%, #9356DC 100%);
        background: -webkit-linear-gradient(to top right, #FF79DA 0%,#9356DC 100%);
        background: linear-gradient(to top right, #FF79DA 0%,#9356DC 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .Result__Btn--Like {
        opacity: 1;
        background: -moz-linear-gradient(to top right, #FF79DA 0%, #9356DC 100%);
        background: -webkit-linear-gradient(to top right, #FF79DA 0%,#9356DC 100%);
        background: linear-gradient(to top right, #FF79DA 0%,#9356DC 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;

      }
    }
    &--FullLike {
      position: absolute;
      color: #414141;
      right: 0;
    }
    &--Like {
      opacity: 0;
      position: absolute;
      right: 0;
      background: -moz-linear-gradient(to top right, #FF79DA 0%, #9356DC 100%);
      background: -webkit-linear-gradient(to top right, #FF79DA 0%,#9356DC 100%);
      background: linear-gradient(to top right, #FF79DA 0%,#9356DC 100%);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      transform-origin: bottom;
      transition: all 800ms;
    }
  }  
}

.Footer {
  background-color: #3c3838;
  height: 200px;
  padding-top: 7%;
  &__logo {
    color: white;
    font-family: 'Shrikhand';
    padding-left: 8%;
    font-size: 20px;
  }
  &__list {
    list-style-type: none;
    &--li {
      padding-bottom: 3%;
    }
    &--link{
      color: white;
    }
    &--icon {
      padding-right: 3%;
    }
  }
}

//* Index *//


//* Pages *//

.Header {
  &__banner {
    display: flex;
    align-items: center;
    height: 45px;
  }
  &__arrow {
    margin-left: 7%;
    font-size: 23px;
  }
  &__logo {
    font-family: 'Shrikhand';
    margin-left: 21%;
  }
  &__image {
    width: 100%;
    height: 370px;
    object-fit: cover;
  }
}

.Menu {
  position: relative;
  bottom: 70px;
  background-color: #f3f3f3;
  margin-bottom: -15%;
  border-radius: 50px 50px 0px 0px;
  padding-bottom: 10%;
  &__header {
    display: flex;
  }
  &__title {
    margin-left: 10%;
    margin-top: 4%;
    font-family: 'Shrikhand';
    font-size: 30px;
  }
  &__button {
    margin-left: 12%;
    margin-top: 1%;
    border: 0;
    padding: 0;
    background-color: inherit;
    font-size: 14px;
    &--full {
      opacity: 0;
    }
  }
}

.Content {
  margin-left: 4%;
  display: flex;
  &__box {
    width: 100%;
    
  }
  &__title {
    font-weight: 300;
    
  }
  &__dishes {
    background-color: white;
    width: 95%;
    display: flex;
    align-items: center;
    transform-origin: right;
    justify-content: space-between;
    border-radius: 23px;
    font-size: 18px;
    margin-bottom: 3%;
    height: 80px;
    text-overflow: ellipsis;
    margin-top: 0;
    white-space: nowrap;
    transform-origin: right;
    overflow: hidden;
    box-shadow: 0 0 8px #0000002e;
    &--text {
      margin-left: 4%;
      height: 100%;
      font-size: 18px;
      width: 100%;
    }
    &--title {
      margin-bottom: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      transition: all 800ms;
      white-space: nowrap;
    }
    &--description {
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      transition: all 800ms;
      overflow: hidden;
      margin: 0;
    }
    &--price {
      bottom: -46px;
      right: -30px;
      position: relative;
      display: flex;
      width: 0%;
      transition: all 800ms;
      font-weight: bold;
      height: 100%;
    }
    &--icon {
      border: 2px solid white;
      background-color: white;
      border-radius: 20px;
      height: 30%;
      width: 27%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--check {
      color: #7ed8c6;
    }
    &--confirmation {
      height: 100%;
      min-width: 20%;
      justify-content: center;
      align-items: center;
      position: relative;
      right: -95px;
      transition: all 800ms;
      display: flex;
      background-color: #7ed8c6;
    }
    :hover {
      cursor: pointer;
      
    }
  }
  &__border {
    border-bottom: 4px solid #99E2D0;
    width: 10%;
    margin-top: -4%;
    margin-bottom: 4%;
  }
}

.Command {
  padding-left: 25%;
  padding-top: 6%;
  &__button {
    padding: 5%;
    width: 60%;
    border: 1px solid #cd90bc;
    border-radius: 25px;
    box-shadow: 0 0 15px #0000002e;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC );
    display: inline-block;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
      cursor: pointer;
      transform: scale(1.15);
      border: 1px solid #f0bae1;
      box-shadow: 0 0 20px #0000002e;
    }
  }
}

//* Pages *//

.Content__dishes:hover {
  .Content__dishes--title {
    width: 87%;
  }
  .Content__dishes--description {
    width: 87%;
  }
  .Content__dishes--price {
    right: 40px;
  }
  .Content__dishes--confirmation {
    right: 0;
      .Content__dishes--icon {
      visibility: visible;
      transform: rotate(-360deg);
      transition: transform 800ms ease-in-out;
      
    }
  }
}

.dishes  {
  opacity: 0;
  animation: transition 1000ms ease-in-out forwards;
  &--2 {
  opacity: 0;
  animation: transition 1200ms ease-in-out forwards;
  }
  &--3 {
  opacity: 0;
  animation: transition 1400ms ease-in-out forwards;
  }
  &--4 {
  opacity: 0;
  animation: transition 1600ms ease-in-out forwards;
  }
}
//* RESPONSIVE MOBILE *//
@media screen and (max-width: 414px) {

  body {
    width: unset;
  }
  
  .Signature {
    &__Box {
      &--Number {
        border-radius: 40px;
        width: 6%;
      }
    }
  }

  .Result__Btn {
    right: 22px;
  }

//* Pages *//
 .Header__logo {
  margin-left: 15%;
 }
 .Menu__title {
  margin-left: 10%;
  margin-top: 4%;
  font-size: 27px;
 }
 .Result__Btn {
  right: 35px;
 }
 .Content__dishes--text {
  font-size: 13px;
 }
 .Content__dishes--title {
  margin-top: 10%;
 }
 .Content__dishes--price {
  font-size: 16px;
  bottom: -33px;
  right: -30px;
 }
 .Content__dishes--confirmation {
  min-width: 25%;
 }
 .loader__box {
  width: 414px;
 }
}
//* RESPONSIVE TABLETTES *//
@media screen and (min-width: 650px) {
  body {
    width: unset;
  }
  .Header__Logo--img {
    width: 35%;
  }
  .Localisation {
    padding-left: 40%;
  }
  .Reservation {
    padding: 1% 0% 4% 0%;
  }
  .Reservation__Btn {
    padding: 2%;
    border-radius: 30px;
  }
  .Signature__Order--Step {
    height: 80px;
    width: 75%;
  }
  .Signature__Box--Number {
    width: 3%;
    left: -2%;
  }
  .Footer {
    height: 251px;
  }
  .Result__Card--New {
    top: -15px;
  }
 
  //* Pages *//
  .Header__logo {
    margin-left: 26%;
    font-size: 230%;
  }
  .Menu__title {
    font-size: 31px;
  }
  .Content__title {
    font-size: 30px;
    margin-bottom: 4%;
  }
  .Content__dishes--title {
    margin-top: 3%;
  }
  .Content__dishes--text {
    font-size: 20px;
  }
  .Content__dishes--price {
    font-size: 23px;
    bottom: -35%;
    right: -40px;
    width: unset;
  }
  .Content__dishes--confirmation {
    min-width: 12%;
  }
  .Command__button {
    padding: 3%;
    font-size: 21px;
  }
  .loader__box {
    width: 770px;
  }
}
@media screen and (min-width: 1023px) {
  .Content__dishes--confirmation {
    right: -112px;
  }
  .Content__dishes--icon {
    width: 24%;
  }
  .Content__dishes {
    height: 92px;
  }
  .Menu {
    margin-bottom: -11%;
  }
  .Header__logo {
    margin-left: 30%;
  }
  .loader__box {
    width: 1200px;
  }
} 
@media screen and (min-width: 1350px) {
  .Content__dishes--confirmation {
    right: -189px;
  }
  .Content__dishes--confirmation {
    min-width: 9%;

  }
  .Content__dishes {
    height: 103px;
  }
  .Footer {
    height: 288px;
  }
  .Header__logo {
    margin-left: 35%;
  }
  .Content__dishes--price {
    bottom: -40px;
  }
  .loader__box {
    width: 1350px;
  }
} 
@media screen and (min-width: 1400px) {
  body {
    margin: 0;
    font-family: 'Roboto';
    margin: auto;
    width: 800px;
  }
  .Header__logo {
    margin-left: 28%;
  }
  .Content__dishes--confirmation {
    min-width: 17%;
 }
.Content__dishes--text {
  font-size: 26px;
 }
 .Content__dishes {
  height: 110px;
 }
.Content__dishes--title {
  margin-top: 4%;
 }
 .loader__box {
  width: 800px;
}
}