@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  font-family: 'Roboto';
  margin: auto;
  width: 500px; }

a {
  text-decoration: none; }

.Header {
  text-align: center;
  padding: 3% 0% 1% 0%;
  width: 100%;
  border-bottom: 3px solid #cfcfcf; }
  .Header__Logo {
    display: none; }
    .Header__Logo--img {
      width: 45%; }

.Localisation {
  display: flex;
  align-items: center;
  background-color: #eae8e8;
  padding-left: 30%; }
  .Localisation__Text {
    padding-left: 5%; }

.Reservation {
  text-align: center;
  background-color: #f2f2f2;
  padding: 1% 0% 10% 0%; }
  .Reservation__Tittle {
    font-weight: bold; }
  .Reservation__Text {
    padding-bottom: 5%;
    width: 98%; }
  .Reservation__Btn {
    padding: 4%;
    border: 1px solid #ffc3ee;
    border-radius: 25px;
    box-shadow: 0 0 15px #0000002e;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC); }

.Signature__Box {
  padding-bottom: 5%; }
  .Signature__Box--Title {
    padding-left: 5%; }
  .Signature__Box--Number {
    position: absolute;
    border: 1px solid #9356DC;
    background-color: #9356DC;
    padding: 1%;
    border-radius: 25px;
    width: 5%;
    left: -3%;
    color: white; }

.Signature__Order {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Signature__Order--Step {
    display: flex;
    margin-top: 7%;
    text-align: center;
    align-items: center;
    height: 65px;
    width: 85%;
    border: 1px solid #e9e9e9;
    background: #f1f1f1;
    border-radius: 25px;
    box-shadow: 0 0 8px #0000002e;
    color: black;
    position: relative; }
  .Signature__Order--icon {
    padding-left: 12%; }

.Signature__Text {
  padding-left: 8%;
  font-weight: bold; }

.Result {
  background-color: #f7f7f7; }
  .Result__Box--Title {
    padding-left: 5%;
    padding-top: 10%; }
  .Result__Card {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .Result__Card--Link {
      background-color: white;
      width: 90%;
      border-radius: 25px;
      margin-bottom: 6%;
      box-shadow: 0 0 8px #0000002e;
      position: relative; }
    .Result__Card--img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 25px 25px 0px 0px; }
    .Result__Card--New {
      position: absolute;
      top: 0;
      right: 15px;
      margin-top: 4%;
      color: #1d8e72;
      font-weight: bold;
      border-radius: 3px;
      background-color: #99E2D0;
      padding: 2% 4% 2% 4%; }
    .Result__Card--Footer {
      display: flex;
      margin-bottom: 3%; }
    .Result__Card--Title {
      padding-left: 10%;
      width: 100%;
      margin-bottom: 2%;
      color: black; }
    .Result__Card--Text {
      padding-left: 10%;
      width: 100%;
      color: black; }
    .Result__Card--FullLike {
      position: absolute;
      right: 50px;
      color: #414141;
      padding-top: 5%; }
    .Result__Card--Like {
      opacity: 0;
      position: absolute;
      right: 50px;
      padding-top: 5%;
      color: #FF79DA; }
      .Result__Card--Like :hover {
        opacity: 1; }

.Footer {
  background-color: #3c3838;
  height: 200px;
  padding-top: 7%; }
  .Footer__logo {
    color: white;
    font-family: 'Shrikhand';
    padding-left: 8%;
    font-size: 20px; }
  .Footer__list {
    list-style-type: none; }
    .Footer__list--li {
      padding-bottom: 3%; }
    .Footer__list--link {
      color: white; }
    .Footer__list--icon {
      padding-right: 3%; }
